.advantages
  margin-top: -90px
  &__block
    min-height: 280px
    background-color: $main-color
    display: flex
  &__title
    +reg
    margin: auto
    line-height: 50px
    font-size: 32px
    justify-content: center
    align-items: center 
    &-item
      display: block
  &-features
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    margin-top: 100px
.features
  &__image

@media (max-width: 1200px)
  .advantages
    &__title
    &-features
      &__img
        margin: 0 auto 30px auto
    
  .features
    &__image
      margin: auto

@media (max-width: 768px)
  .advantages
    &__title
      font-size: 20px
@media (max-width: 576px)
  .advantages
    &__title
      font-size: 18px
      line-height: 22px
      max-width: 290px
      +bold
      padding: 0 15px 0 15px
      text-align: center
      &-item
        display: inline
    &-features
      &__img
        display: flex
        justify-content: center
        align-items: center
       
    &__block
      margin-bottom: 0px
  .features
    margin-top: 0
    &__image
     flex-direction: column
     height: 85%
     width: 85%


      
     
