.guaranty
  &__title
    font-size: 30px
    +bold
    line-height: 45px
    max-width: 700px
    margin: auto
    margin-bottom: 95px
  &-main
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    &__block

  .main
    &__block
     
     &-img
       margin: auto
       border: 20px solid $secondary
       min-height: 360px
       min-width: 270px
       max-height: 360px
       max-width: 270px
       margin-bottom: 35px
     &-text
       max-width: 290px
       font-size: 18px
       line-height: 24px
       text-align: center




  // &-main
  //   display: flex
  //   justify-content: space-around
  //   flex-wrap: wrap
  // &__text
  //   line-height: 24px
  //   text-align: center
  //   line-height: 24px
  //   font-size: 18px
  //   max-width: 270px
  // &__block
  //   &-img
  //     min-width: 270px
  //     min-height: 360px
  // &__image
  //   border: 20px solid $secondary
  // &-block
  //   &-text
  //     display: flex
  //     justify-content: center
  //     align-items: center
  //     margin: auto
  //     text-align: center
@media (max-width: 1200px)  
  .guaranty
    margin-top: -90px
    &-main
      &__block
        margin: 0 15px 0 15px
@media (max-width: 768px)  
  .guaranty
    &-main
      &__block
        margin-bottom: 30px
@media (max-width: 576px) 
  .guaranty
    &__title
      font-size: 18px
      line-height: 20px
      margin-bottom: 50px
      max-width: 280px
      +bold
    &__text
      font-size: 14px
      line-height: 18px
      width: 230px
      min-width: 100px
  .section
    &-guaranty
      padding-bottom: 50px

    